@font-face {
    font-family: "Jost";
    src: url(fonts/Jost-Medium.woff2) format(woff2),
    url(fonts/Jost-Medium.woff) format(woff);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Jost";
    src: url(fonts/Jost-ExtraBold.woff2) format(woff2),
    url(fonts/Jost-ExtraBold.woff) format(woff);
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Jost";
    src: url(fonts/Jost-Regular.woff2) format(woff2),
    url(fonts/Jost-Regular.woff) format(woff);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Jost";
    src: url(fonts/Jost-SemiBold.woff2) format(woff2),
    url(fonts/Jost-SemiBold.woff) format(woff);
    font-weight: 600;
    font-style: normal;
}
body{
    font-family: "Jost","Open Sans", sans-serif;
    margin:0%
}

.first{
    width: 100%;
    background-color:  #EEEFF1;
    margin:0%;
    padding-top:0.3%;
    padding-bottom: 50px;
}
header{
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
.header__logo{
    width: 10%;
   
    padding-left: 3%;
    
    margin-right:30%;
}
.nav{
    width: 38%;
    display:inline;
    color:#1B1B1D;
    font-size: 18px;
}
.nav a{
    color:#1B1B1D;
    
    font-weight: 500;
    text-decoration: none;
    margin-right:4%;
}
.basket_button{
    width: clamp(30px,5%,55px);
    aspect-ratio: 1/1;
    background-color: #FFFFFF;
    border: 0;
    border-radius: 50vh;
    margin-right:2%;
}
.basket_button img{
    width: 80%;
}
.black_button{
    background-color: #1B1B1D;
    color: #FFFFFF;
    border-radius: 50vh;
    
}
.voucher_button{
    width: 15%;
    font-weight: 500;
    font-size:14px;
    
    padding:15px;
}
.first__content{
    display:flex;
    justify-content: space-evenly;
    
}
.left_text{
    width: 40%;
    padding-left:3%;
}
.big_text{
    font-weight: 800;
    font-size:90px;
    line-height: 90px;
    margin:0;
}
.second_text{
    
    font-weight: 400;
    font-size:24px;
    color:#64646A
}
.download{
    width: 40%;
    
    font-weight: 500;
    font-size:16px;
    
    padding: 3%;
    margin-right:30px;
}
.shop_link{
    font-weight: 500;
    font-size: 15px;
    color:#1B1B1D;
}

.bigcup{
    width: 65%;
    
}
.prize{
    width: 20%;
    position:relative;
    bottom:67%;
    right:20%;
}
.stars{
    width: 28%;
    background-color: #FFFFFF;
    color: #64646A;
    font-weight: 400;
    font-size: 16px;
    padding: 1.5%;
    border-radius: 20px;

    position:relative;
    bottom:210px;
    left:20px;
}
.blackstar{
    width: 15%;
}
.stars p{
    margin:5px;
}

.second__header{
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    color:#1B1B1D;
    margin-bottom: 0;
}
.second__text{
    
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color:#64646A;
    margin-bottom: 6%;
}
.card_area{
    
    display:flex;
    justify-content: center;
    /*align-items: stretch;*/
    margin-bottom: 100px;
    min-height: 60%;
}
.card{
    width: 20%;
    /*height: 100%;*/
    box-shadow: 5px 7px 10px 0px rgba(34, 60, 80, 0.17);
    border-radius: 25px;
    padding: 2%;
    
}
.card~.card{
    margin-left: 3%;
}
.card>h3{
    /*height: 15%;*/
    font-weight: 600;
    font-size: 30px;
    color: #1B1B1D;
    margin-top: 0;
    margin-bottom: 2%;
}
.card__description{
    
    font-weight: 400;
    font-size: 20px;
    color:#64646A;
    margin-top: 0;
}
.card img{
    display:block;
    width: 33%;
    height: 30%;
    margin-left:33%;
    margin-bottom: 15%;
}
.card__button{
    width: 50%;
    height: 15%;
    
    font-weight: 500;
    font-size: 13px;
    margin-left: 25%;
    
}
.third{
    display:flex;
    padding-bottom: 100px;
    
}
.cups{
    width: 170%;
}
.cups__image{
    width: 100%;
    margin-left: 8%;
}

.third__content h1{
    font-weight: 800;
    font-size: 50px;
    color: #1B1B1D;
}
.third__content p{
    font-weight: 400;
    font-size: 30px;
    color: #64646A;
}
.order_button{
    padding:20px;
    
}
.fourth{
    
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 150px;
}
.fourth h1{
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    color:#1B1B1D;
    margin-bottom: 0;
}
.rating{
    display:flex;
    justify-content: center;
    align-items: center;
}
.rating p{
    font-weight: 600;
    font-size: 30px;
    color:#1B1B1D;
    margin-right: 5px;
}
.rating__stars p{
    font-weight: 400;
    font-size: 15px;
    color:#64646A;
    margin: 0;
    align-items: center;
}


.sample-slider .slide__foto {
    width: 100%;
    
    margin-bottom: 3%;
}


.swiper-container [class^="swiper-button-"]::after{
    content: "";
}
.swiper-container{
    position: relative;
    width: 75%;
    margin: 0 auto;
    
}
.swiper-wrapper{
    width: 100%;
    padding: 3%;
}
.swiper-slide{
    
    box-shadow: 5px 7px 10px 0px rgba(34, 60, 80, 0.1);
    border-radius: 20px;
    overflow: hidden;
}
.swiper-button-next, .swiper-button-prev{
    border-radius: 50vh;
    box-shadow: 5px 7px 10px 0px rgba(34, 60, 80, 0.17);
   
    border: none;
    background-color: #FFFFFF;
}
.swiper-container .swiper-button-prev{
    left: -40px;
}
.swiper-container .swiper-button-next{
    right: -50px;
}
.slide__name{
    margin-left:5%;
    margin-right:2%;
    font-weight: 600;
    font-size: 20px;
    color: #1B1B1D;
}
.swiper-container .rating__starimage{
    width: 4%;
}
.slide__text{
    margin-left:5%;
    margin-right:5%;
    font-size: 15px;
    font-weight: 400;
    color: #64646A;
}
.fifth{
    padding-left: 5%;
    padding-right: 5%;
}
.fifth__contact{
    display:flex;
}
.fifth__locations{
    display:flex;
}
.contact_left,.locations_left{
    width: 50%;
    margin-right: 10%;
}
.contact_right,.locations_right{
    width: 30%;
}
.email,.phone,.social_media{
    display:flex;
    align-items: center;
}
.fifth__logo{
    width: 40%;
}
.contact_left p,.locations_left p{
    font-weight: 400;
    font-size: 26px;
    color: #64646A;
}
.fifth h2{
    font-weight: 800;
    font-size: 30px;
    color: #1B1B1D;
}
.contact_right span{
    font-weight: 400;
    font-size: 20px;
    color: #64646A;
    white-space: nowrap;
}
.contact_right img{
    width: 6em;
}
.locations_left a{
    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    color: #1B1B1D;
}
input{
    width: 80%;
    border: none;
    height: 25%;
    border-radius: 50vh;
    box-shadow: 5px 7px 10px 0px rgba(34, 60, 80, 0.17);
    padding-left: 10%;
    margin-bottom: 5%;
}
.subscribe_button{
    font-weight: 500;
    font-size: 12px;
    padding: 5%;
}
hr{
    margin-top: 50px;
    margin-bottom: 25px;
    color:#1B1B1D;
}
footer{
    display: flex;
}
footer span, footer a{
    width: 50%;
    color: #64646A;
    font-size: 20px;
    margin-bottom: 50px;
}
footer span~span{
    text-align: right;
}



@media(hover:hover){
    .black_button:hover{
        background-color: #EEEFF1;
        color: #1B1B1D;
        box-shadow: 5px 5px 5px 5px rgba(34, 60, 80, 0.5);
    }
    a:hover{
        text-decoration: underline;
        font-weight: 800;

    }
    .basket_button:hover,.swiper-button-next:hover,.swiper-button-prev:hover,.contact__image:hover{
        border:#1B1B1D;
        box-shadow: 2px 2px 5px 5px rgba(34, 60, 80, 0.5);

    }
}
@media(hover:none){
    .black_button:active{
        background-color: #EEEFF1;
        color: #1B1B1D;
        box-shadow: 5px 5px 5px 5px rgba(34, 60, 80, 0.5);
    }
    a:active{
        text-decoration: underline;
        font-weight: 800;
        
    }
    .basket_button:active,.swiper-button-next:active,.swiper-button-prev:active,.contact__image:active{
        border:#1B1B1D;
        box-shadow: 2px 2px 5px 5px rgba(34, 60, 80, 0.5);
        
    }
}


@media(max-width:1024px){
    .big_text{
        font-size: 60px;
    }
    
    .first .right_image,.nav{
        width: 50%;
    }
    .black_button{
        font-size: 12px;
    }
    
    .prize{
        width: 15%;
        bottom: 50%;
    }
    .stars{
        width: 29%;
        font-size: 14px;
        bottom: 18%
    }
    .header__logo{
        margin-right: 15%;
    }
    .card__description,.card img{
        margin-bottom: 10px;
    }
    .card>h3,.slide__text{
        font-size: 20px;
    }
    .card__description{
        margin-bottom: 20%;
        font-size: 15px;
    }
    .third__content h1{
        
        font-size: 45px;
        
    }
    .third__content p{
        
        font-size: 25px;
        
    }
    
    
}
@media(max-width:768px){
    .first header, .nav{
        display: block;
    }
    .nav{
        width: 100%;
        padding-left: 5%;
        
    }
    .nav a{
        margin-right: 2%;
        font-size: 12px;
    }
    .basket_button{
        margin-left: 5%;
    }
    .voucher_button{
        font-size: 10px;
        padding: 8px;
    }
    .big_text{
        font-size: 42px;
        line-height: 50px;
    }
    .second_text,.contact_left p,.locations_left p{
        font-size: 18px;
    }
    
    
    .second__header{
        font-size: 42px;
    }
    .second__text{
        font-size: 16px;
    }
    
    
    .card__button{
        width: 60%;
        font-size: 10px;
    }
    .third__content h1,.fourth h1{
        
        font-size: 35px;
        
    }
    .third__content p{
        
        font-size: 20px;
        
    }
    .swiper-container{
        width: 80%;
    }
    .contact_left,.contact_right,.locations_left,.locations_right{
        width: 50%;
    }
    
    .fifth h2{
        
        font-size: 24px;
        
    }
    .contact_right span,.locations_left a,footer span,footer a{
        
        font-size: 14px;
        
    }
    .contact_right img{
        width: 4em;
    }
    
}
@media(max-width:600px){
    .voucher_button{
        width: 20%;
    }
    .shop_link{
        display: block;
        font-size: 12px;
        margin-top: 15px;
    }
    .download{
        width: 60%;
    }
    .card_area{
        flex-direction: column;
        align-items: center;
    }
    .card{
        width: 50%;
    }
    .card__button{
        font-size: 0.9em;
        padding: 1%;
    }
    .stars{
        width: 45%;
    }
    .stars p{
        
        font-size: 12px;
    }
    .slide__name{
        font-size: 16px;
    }
    .slide__text{
        font-size: 14px;
    }
    
}
@media(max-width:480px){
    .header__logo{
        width: 25%;
    }
    .voucher_button{
        width: 25%;
    }
    .big_text{
        font-size:26px;
        line-height: 40px;
    }
    .second_text{
        font-size: 16px;
    }
    .bigcup{
        width:80%
    }
    .stars{
        bottom:5%;
        left:5%;
    }
    .prize{
        width: 20%;
        right: -50%;
    }
    .third{
        display: block;
        padding: 5%;
    }
    .cups{
        width: 100%;
    }
    .third__content{
        text-align: center;
    }
    .contact_left p,.locations_left p{
        font-size: 16px;
    }
    .fifth__logo{
        width: 65%;
    }
    .social_media{
        display: block;
    }
}